<footer class="bg-5 flex jc-center flex-wrap">
  <div class="div-img">
    <img src="/images/logo-domum.png" alt="Logo de Domum" class="w-50 logo-footer" />
  </div>
  <ul class="ul-footer border-ul">
    <h1 class="fs-18 padd-5">Contactos</h1>
    <li><i class="fa-regular fa-clock padd-5"></i> De 9:00 a 18:00hs</li>
    <li><i class="fa-solid fa-phone padd-5"></i> +54 123 1234567</li>
    <li>
      <i class="fa-regular fa-envelope padd-5"></i> consultas@domun.com
    </li>
    <li><i class="fa-brands fa-whatsapp padd-5"></i> +54 123 1234567</li>
  </ul>
  <ul class="ul-footer border-ul">
    <h1 class="fs-18 padd-5">Redes Sociales</h1>
    <li><i class="fa-brands fa-facebook padd-5"></i> Facebook</li>
    <li><i class="fa-brands fa-twitter padd-5"></i> Twiteer</li>
    <li><i class="fa-brands fa-youtube padd-5"></i> YouTube</li>
    <li><i class="fa-brands fa-instagram padd-5"></i> Instagram</li>
  </ul>
  <div class="w-100 copy-footer">© 2023 Domun</div>
</footer>