<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Domum</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <header class="main-header">
    <div class="fixed-navbar flex pos-fixed w-100">
      <img src="/images/sinfondo-logo.png" alt="Logo de Domum" class="logo-domum">
      <nav class="page-navbar hide">
        <ul class="flex fs-18">
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Nosotros</a></li>
          <li><a href="#">Cabañas</a></li>
          <li><a href="#">Actividades</a></li>
          <li><a href="#">Contacto</a></li>
        </ul>
      </nav>
      <div class="header-buttons flex">
        <a href="#"><i class="fa-solid fa-cart-shopping cart-icon"></i></a>
        <a href="#"><button class="login-button fs-18">Ingresar</button></a>
        <a href="#"><button class="sing-in-button hide fs-18">Crear cuenta</button></a>
        <i class="fa-solid fa-bars burguer-menu"></i>
        <a href="#"><i class="fa-solid fa-user user-icon hide"></i></a>
      </div>
    </div>
    
    <!-- carrusel -->
    <div class="carrousel pos-relative flex m-auto of-hidden">
      <h2 class="pos-absolute txt-center w-100">Lorem ipsum dolor</h2>
      <ul class="flex m-auto">
        <li class="of-hidden flex"><img src="/images/img-prueba1.webp" alt="imagen de referencia 1"></li>
        <li class="of-hidden flex"><img src="/images/img-prueba2.webp" alt="imagen de referencia 2"></li>
        <li class="of-hidden flex"><img src="/images/img-prueba3.webp" alt="imagen de referencia 3"></li>
        <li class="of-hidden flex"><img src="/images/img-prueba4.jpg" alt="imagen de referencia 4"></li>
        <li class="of-hidden flex"><img src="/images/img-prueba1.webp" alt="imagen de referencia 1"></li>
      </ul>
    </div>
    <!-- carrusel -->

  </header>
</body>
</html>