<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Domum</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/style-pd-footer.css">
  <link rel="icon" href="/images/logo-domum.png" >
</head>

<body>
  <header class="main-header">
    <div class="fixed-navbar flex pos-fixed w-100 bg-5">
      <img src="/images/logo-domum.png" alt="Logo de Domum" class="logo-domum">
      <nav class="page-navbar hide">
        <ul class="flex fs-15">
          <li><a href="/">Inicio</a></li>
          <li><a href="#">Nosotros</a></li>
          <li><a href="#">Cabañas</a></li>
          <li><a href="#">Actividades</a></li>
          <li><a href="#">Contacto</a></li>
        </ul>
      </nav>
      <div class="header-buttons flex">
        <a href="/productCart"><i class="fa-solid fa-cart-shopping cart-icon"></i></a>
        <a href="/login"><button class="login-button fs-18 bg-3">Ingresar</button></a>
        <a href="/register"><button class="sing-in-button hide fs-18 bg-3">Crear cuenta</button></a>
        <i class="fa-solid fa-bars burguer-menu"></i>
        <a href="#"><i class="fa-solid fa-user user-icon hide"></i></a>
      </div>
    </div>
    
   

  </header>


  <section class="date-select">
     <form action="" method="get" class="flex flex-wrap jc-evenly p-1rem">
      
       <label for="check-in" class="label-check-in bg-5 txt-center fs-18 box-shadow">Check-in</label>
       <label for="check-out" class="label-check-out bg-5 txt-center fs-18 box-shadow">Check-out</label>
       <input type="date" name="check-in" id="check-in" value="2023-01-02"class="input-check-in bg-5 txt-center article-fecha fs-18" >
       <input type="date" name="check-out" id="check-out"  class="input-check-out bg-5 txt-center  article-fecha fs-18">
       <select name="selector" class="selector-huesped  ">
        <option value="disabled" selected>Seleccione número de huéspes</option>
        <option value="cabaña-1">1</option>
        <option value="cabaña-2">2</option>
        <option value="cabaña-2">3</option>
        <option value="cabaña-2">4</option>
       </select>
       <hr class="hr">
      
    </form>
  </section>
    <h1 class="w-100 p-1rem fc-37 fs-25 txt-center ">Cabaña xxxx</h1>

  <section class=" w-100  fc-37 flex">
  
    <div class="ft-producto-elegido flex flex-wrap p-1rem">
     <img src="images/cabañaLIQUIDAMBAR/liquidambar02.jpg" alt="" class="w-100 p-2px img-productDetail-1 box-shadow">
     <img src="images/cabañaLIQUIDAMBAR/liquidambar01.jpg" alt="" class="w-33 p-2px img-productDetail-2 box-shadow ">
     <img src="images/cabañaLIQUIDAMBAR/liquidambar04.jpg" alt="" class="w-33 p-2px img-productDetail-2 box-shadow">
     <img src="images/cabañaLIQUIDAMBAR/liquidambar05.jpg" alt="" class="w-33 p-2px img-productDetail-2 box-shadow">
    </div>
    <aside class=" p-1rem aside-prod-detail box-shadow">
      
      <form action="get" class=" flex flex-wrap">
        <h3 class=" aside-precio p-bot-20px">$$$</h3> 
        <p class=" aside-noche p-bot-20px">x noche</p>
        <label for="check-in" class="aside-input mr-9 ">Check-in</label>
        <label for="check-out" class="aside-input">Check-out</label>
        <input type="date" name="check-in" id="check-in" value="2023-01-02"class="aside-input-date mr-9 p-20px">
        <input type="date" name="check-out" id="check-out"  class="aside-input-date p-10px">
        <p class="w-100 aside-dias p-bot-20px ">Cantidad de días: xx</p></div>
        <select name="selector" class="aside-selector-cabañas f-f fc-37 p-bot-20px mb">
          <option value="disabled" selected>Seleccione una cabaña</option>
          <option value="cabaña-1">Cabaña blanca</option>
          <option value="cabaña-2">Cabaña xx</option>
          <option value="cabaña-3">Cabaña xx</option>
          <option value="cabaña-4">Cabaña xx</option>
          <option value="cabaña-5">Cabaña xx</option>
        </select>
        <select name="selector" class=" aside-selector-cabañas p-bot-20px mb">
            <option value="disabled" selected>Seleccione número de huéspes</option>
            <option value="cabaña-1">1</option>
            <option value="cabaña-2">2</option>
            <option value="cabaña-2">3</option>
            <option value="cabaña-2">4</option>
        </select>
            <input type="text" name="cupon" id="cupon"  class="input-cupon fc-37 bg-5 flex-grow" placeholder="¿Cupón de descuento?"><button class="input-cupon bg-5"><i class="fa-solid fa-play fc-3"></i></button>
            <h3 class=" aside-total">Total $$$</h3>
            
            <a href="/productCart" class=" aside-but fs-18">Reservar</a>
        
      </form>
    </aside>
  </section>
  <hr class="hr">
    <p class="txt-center fs-18 p-2px">.4 huespedes .2 dormitorios .2 camas .1 baño</p>
    <hr class="hr">
    <div class="flex flex-wrap  p-1rem">
      
      <h3 class="w-100 p-2rem-t fs-18 f-37">Características del lugar</h3>
      
      <h4 class="caract p-2px"><i class="fa-solid fa-fire-burner icon-servicios"></i> Cocina</h4>
      <h4 class="caract p-2px"><i class="fa-solid fa-car icon-servicios"></i> Estacionamiento</h4>
      <h4 class="caract p-2px"><i class="fa-solid fa-paw icon-servicios"></i> Pet-friendly</h4>
      <h4 class="caract p-2px"><i class="fa-solid fa-wifi icon-servicios"></i> WIFI</h4>
      <h4 class="caract p-2px"><i class="fa-solid fa-person-swimming icon-servicios"></i> Pileta de uso compartido</h4>
      <h4 class="caract p-2px"><i class="fa-solid fa-tv icon-servicios"></i> TV</h4>
      <h4 class="caract p-2px"><i class="fa-solid fa-fire icon-servicios"></i> Calefacción</h4>

    </div>
  <section class="fc-37 fs-18 marg-end">
    
    <h3 class="w-100 txt-center p-1rem f-f fs-18 "><i class="fa-solid fa-location-dot icon-servicios"></i> Mapa del complejo</h3>
    <div class="flex flex-wrap jc-center f-f p-1rem ">
     <label for="n-cabañas" class="label-selector ">Cabañas:</label>
     <select name="selector" class="selector-cabañas fc-37 ">
      <option value="disabled" selected>Seleccione una cabaña</option>
      <option value="cabaña-1">Cabaña blanca</option>
      <option value="cabaña-2">Cabaña xx</option>
      <option value="cabaña-3">Cabaña xx</option>
      <option value="cabaña-4">Cabaña xx</option>
      <option value="cabaña-5">Cabaña xx</option>
      <option value="cabaña-5">Cabaña xx</option>
    
     </select>
    <img src="images/vista-aerea.jpg" alt="100px" class="w-100 p-2px  img-map-lugar box-shadow"> 
    </div>
  </section >

  <article class="fc-37 border-top bg-5 pos-fixed w-100 p-5px">
    <div class="flex flex-wrap p-2px w-100">
       <h3 class="article-precio">$$$</h3>
       <p class="article-x-noche">x noche</p>
       <h3 class="article-total">Total $$$</h3></div>
    <div class= "flex flex-wrap p-2px w-100">
        <h4 class="desde-hasta">Desde: dd/mm/aa Hasta: dd/mm/aa</h4>
        <h4 class="w-100 article-fecha">Cantidad de días: xx</h4>
        <div class="flex  w-100 ">
         <input type="text" name="cupon" id="cupon"  class="input-cupon fc-37 bg-5 flex-grow" placeholder="¿Cupón de descuento?"><button class="input-cupon bg-5"><i class="fa-solid fa-play fc-3"></i></button>
         <a href="/productCart" class="but-reserva- fs-18">Reservar</a>
        </div>
    </div>
        
  </article>
  <footer class="bg-5 flex jc-center flex-wrap footer-producDetail">
    <div class="div-img"><img src="/images/logo-domum.png" alt="Logo de Domum" class="w-50 logo-footer"></div>
    <ul class="ul-footer border-ul">
      <h1 class="fs-18 padd-5">Contactos</h1>
      <li><i class="fa-regular fa-clock padd-5"></i> De 9:00 a 18:00hs</li>
      <li><i class="fa-solid fa-phone padd-5"></i> +54 123 1234567</li>
      <li><i class="fa-regular fa-envelope padd-5"></i> consultas@domun.com</li>
      <li><i class="fa-brands fa-whatsapp padd-5"></i> +54 123 1234567</li>
    </ul>
    <ul class="ul-footer border-ul">
      <h1 class="fs-18 padd-5 ">Redes Sociales</h1>
      <li><i class="fa-brands fa-facebook padd-5"></i> Facebook</li>
      <li><i class="fa-brands fa-twitter padd-5"></i> Twiteer</li>
      <li><i class="fa-brands fa-youtube padd-5"></i> YouTube</li>
      <li><i class="fa-brands fa-instagram padd-5"></i> Instagram</li>
    </ul>
    <div class="w-100 copy-footer">© 2023 Domun</div>
  </footer>
</body>
</html>