<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro</title>

  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <header class="main-header">
    <div class="fixed-navbar flex  w-100">
      <a href="/"><img src="/images/logo-domum.png" alt="Logo de Domum" class="logo-domum"></a>
      <nav class="page-navbar hide">
        <ul class="flex fs-18">
          <li><a href="/">inicio</a></li>
          <li><a href="#">nosotros</a></li>
          <li><a href="/product">cabañas</a></li>
          <li><a href="#">actividades</a></li>
          <li><a href="#">contacto</a></li>
        </ul>
      </nav>
      
    </div>

  </header>
  <div class="flex jc-center ">
    <h1 class="title-register txt-center">Registrate </h1>
    <button class="but-back"><a href="/"><i class="fa-solid fa-arrow-left " id="arrow"></i></a></button></div>
  

  <div><form action="" method="get" class="form ">

        <input type="text" name="name" id="name" placeholder="nombre"  class=" f-input" >
        <input type="text" name="surname" id="surname" placeholder="apellido"  class="f-input">
        <input type="email" name="email" id="email" placeholder="email" class="f-input">
        <input type="password" name="password" id="password" placeholder="contraseña"  class="f-input">
        <input type="confirmPassword" name="confirmPassword" id="confirmPassword" placeholder="confirmar contraseña" class="f-input">
        <div class="flex flex-wrap jc-center ">
          <input type="submit" name="register" id="register" class="f-submit" >
          <input type="reset" name="reset" id="reset" class="f-submit">
        </div>
        <button type="submit" class="f-input">
          <i class="fa-brands fa-google"></i>
          Registrate con google</button>
        <button type="submit" class="f-input">
          <i class="fa-brands fa-facebook-f"></i>
          Registrate con facebook</button>
        <button type="submit" class="f-input">
          <i class="fa-brands fa-twitter"></i>
          Registrate con twitter</button>
        <p class="txt-center p-top-10">¿Ya tenés una cuenta?<a href="#">  Iniciar sesion</a></p>
        <hr>
    </form></div>
   
</body>
</html>