*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* config general */

a{
  text-decoration: none;
  color: #07889b;
}


ul{
  list-style: none;
}

.fs-18{
  font-size: 18px;
}

.w-100{
  width: 100%;
}

.flex{
  display: flex;
}

.flex-wrap{
  flex-wrap: wrap;
}

.hide{
  display: none;
}

.pos-relative{
  position: relative;
}

.pos-absolute{
  position: absolute;
}

.pos-fixed{
  position: fixed;
}

.m-auto{
  margin: auto;
}

.txt-center{
  text-align: center;
}

.of-hidden{
  overflow: hidden;
}

/* config navbar y header */

.main-header{
 background-color: #f1f7ed;  
}

.fixed-navbar{
  background-color: #f1f7ed;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  top: 0;
}

.logo-domum{
  height: 75px;
}

.page-navbar{
  flex-grow: 1;

 
}

.page-navbar ul li{
  margin: 0px 8px;
}

.header-buttons{
  gap: 8px;
  margin-right: 15px;
  align-items: center;
}

.cart-icon, .user-icon{
  font-size: 18px;
  border: solid 1px #07889b;
  border-radius: 50%;
  padding: 6px;
}

.login-button, .sing-in-button{
 /* padding: 0px 10px;*/
  background-color: #07889b;
  border-radius: 6px;
  border: none;
  box-shadow: 0 2px 4px #0e0e0e;
  color: #f1f7ed;
  font-size: 0.7em;
  padding: 10px 25px;
  cursor: pointer;
}

.burguer-menu{
  padding-right: 5px;
  font-size: 25px;
}

/* config para el carrucel */

.carrousel{
  height: 80vh;
  max-width: 1800px;
}

.carrousel h2{
  top: 70px;
  background-color:#66b9bf;
  color: #373737;
  font-size: 40px;

}

.carrousel ul{
  width: 500%;
  animation: carrousel 20s infinite;
}

.carrousel li{
  justify-content: center;
}

.carrousel li img{
  width: 1800px;
  height: 100%;
}

/* animación para el carrusel del inicio. */

@keyframes carrousel {
  0%{
    margin-left: 0%;
  }
  15%{
    margin-left: 0%;
  }
  20%{
    margin-left: -100%;
  }
  35%{
    margin-left: -100%;
  }
  40%{
    margin-left: -200%;
  }
  55%{
    margin-left: -200%;
  }
  60%{
    margin-left: -300%;
  }
  75%{
    margin-left: -300%;
  }
  80%{
    margin-left: -400%;
  }
  100%{
    margin-left: -400%;
  }
}

/* media queries */

@media (min-width: 761px){
  .burguer-menu{
    display: none;
  }
  .page-navbar{
    display: block;
  }
  .sing-in-button{
    display: block;
  }
  .user-icon{
    display: block;
  }
}