* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*---------------------------quienes somos?*/

.cont-qui {
    border-radius: 8px;
    padding: 10px;
}

.qui-card {
    padding: 0 10px;
}

.figure-qs {
    height: 100px;
    border-radius: 8px;
    justify-content: center;
}

.img-qs {
    width: 100px;
    height: 100%;
    position: absolute;
}

.qui-nav {
    max-width: 1000px;
}

/*----------------------- config general */

a {
    text-decoration: none;
    color: #07889b;
}
.al-center {
    align-self: center;
}

.txt-error {
    color: #e00031;
    font-weight: bolder;
}

body {
    font-family: "Roboto", sans-serif;
}

.border-rad {
    border-radius: 10px;
}

.border-rad5 {
    border-radius: 5px;
}

.border-none {
    border: none;
}
.border-solid {
    border: solid 1px #ccc;
}

.box-shadow {
    box-shadow: 0px 0px 10px rgb(137, 137, 137);
}

.flex {
    display: flex;
}

.flex-d-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.grap {
    gap: 10px;
}

.gap-y-10 {
    gap: 10px 0;
}

.fs-15 {
    font-size: 15px;
}
.fs-18 {
    font-size: 18px;
}
.fs-25 {
    font-size: 25px;
}

.grow-1 {
    flex-grow: 1;
}
.h-auto {
    height: auto;
}
.h-20rem {
    height: 150px;
}

.h-100 {
    height: 100%;
}

.hide {
    display: none;
}

.hr {
    width: 80%;
    margin: 0 auto;
    color: #373737;
}

.jc-bet {
    justify-content: space-between;
}
.jc-center {
    justify-content: center;
}
.jc-end {
    justify-content: end;
}
.jc-evenly {
    justify-content: space-evenly;
}

.al-items {
    align-items: center;
}
.m-1rem {
    margin: 1rem;
}
.m-5 {
    margin: 5px;
}

.m-10 {
    margin: 10px;
}
.m-20 {
    margin: 20px;
}
.m-30 {
    margin: 30px;
}
.m-auto {
    margin: auto;
}
.m-auto-0 {
    margin: 0 auto;
}
.m-lef-10px {
    margin-left: 10px;
}
.mb {
    margin-bottom: 20px;
}
.m-top-10 {
    margin-top: 10px;
}
.mr-9 {
    margin-right: 9px;
}

.max-w-1 {
    max-width: 1200px;
}

.max-w-2 {
    max-width: 800px;
}

.max-w-4 {
    max-width: 200px;
}
.max-w-100 {
    max-width: 100%;
}

.of-auto {
    overflow: auto;
}

.of-hidden {
    overflow: hidden;
}

.order-1 {
    order: 1;
}

.p-05rem {
    padding: 0.5rem;
}
.p-1rem {
    padding: 1rem;
}
.p-2rem {
    padding-left: 2rem;
}
.p-2px {
    padding: 2px;
}
.p-5px {
    padding: 5px;
}
.p-10px {
    padding: 10px;
}
.p-20px {
    padding: 20px;
}
.p-top-10 {
    padding-top: 10px;
}
.p-2rem-t {
    padding: 2rem;
}

.p-bot-20px {
    padding-bottom: 20px;
}
.p-right-15rem {
    padding-right: 1.5rem;
}

.pos-absolute {
    position: absolute;
}
.pos-fixed {
    position: fixed;
}
.pos-relative {
    position: relative;
}

.pointer {
    cursor: pointer;
}

.title {
    font-size: 2rem;
}

.top-70 {
    padding-top: 70px;
}
.top-100 {
    padding-top: 100px;
}

.txt-center {
    text-align: center;
}

.txt-start {
    text-align: start;
}

ul {
    list-style: none;
}

.w-33 {
    width: 33.3%;
}
.w-50 {
    width: 50%;
}
.w-80 {
    width: 80%;
}
.w-90 {
    width: 90%;
}
.w-100 {
    width: 100%;
}

.vw-90 {
    width: 90vw;
}

/*----------------------------- config colors */

/* Paleta de colores: 
gris oscuro #373737
naranja #e37222
turquesa oscuro #07889b
turquesa claro #66b9f
grisclaro #f1f7ed */
.bg-1 {
    background-color: #373737;
}
.bg-2 {
    background-color: #e37222;
}
.bg-3 {
    background-color: #07889b;
}
.bg-4 {
    background-color: #66b9bf;
}
.bg-5 {
    background-color: #f1f7ed;
}
.bg-6 {
    background-color: #ffffff;
}

.fc-37 {
    color: #373737;
}
.fc-3 {
    color: #07889b;
}

.fc-2 {
    color: #e37222;
}
.fc-5 {
    color: #f1f7ed;
}

/*------------------------ config navbar y header */

.cart-icon {
    border: solid 1px #07889b;
    border-radius: 50%;
    padding: 6px;
}

.user-avatar {
    border: solid 1px #07889b;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    left: 15px;
}

.user-name {
    padding: 2px 5px 2px 15px;
    border: solid 1px #07889b;
    background-color: white;
    transition: 0.2s;
}

.header-buttons {
    gap: 5px;
    margin-right: 15px;
}

.fixed-navbar {
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    top: 0;
    height: 70px;
    box-shadow: 0 2px 20px #373737;
}

.login-button,
.sing-in-button,
.more-button {
    /* padding: 0px 10px;*/
    border-radius: 6px;
    border: none;
    box-shadow: 0 2px 4px #0e0e0e;
    cursor: pointer;
    font-size: 0.8em;
    padding: 10px 20px;
    color: #ffffff;
}

.rememberMe-check {
    margin: 10px 10px 10px 0px;
}

.logo-domum {
    padding: 5px;
    height: 70px;
}

.page-navbar ul li {
    margin: 0px 4px;
}

.user-menu {
    position: relative;
    width: 100%;
    &:hover .user-name {
        background-color: #66b9bf;
        color: #ffffff;
    }
}

.user-menu-options {
    position: absolute;
    overflow-y: hidden;
    background-color: #f1f7ed;
    border-radius: 10px;
    height: 0px;
    width: 100%;
    margin: 10px;
}

.user-menu-li {
    display: flex;
    padding: 10px;
    &:hover {
        background-color: #e1ebeb;
    }
}

.burguer-menu {
    width: 100%;
}

.burguer-menu-options {
    position: absolute;
    overflow-y: hidden;
    background-color: #f1f7ed;
    top: 0;
    left: 0;
    /* height: 0px; */
    width: 100%;
    margin-top: 70px;
}

.burguer-menu-li {
    padding: 10px;
    &:hover {
        background-color: #e1ebeb;
    }
}

.burguer-menu {
    width: 100%;
}

.burguer-menu-options {
    position: absolute;
    overflow-y: hidden;
    background-color: #f1f7ed;
    top: 0;
    left: 0;
    height: 0px;
    width: 100%;
    margin-top: 70px;
}

.burguer-menu-li {
    display: flex;
    padding: 10px;
    &:hover {
        background-color: #e1ebeb;
    }
}

.burguer-user-menu {
    width: 100%;

    &:hover .user-name {
        background-color: #66b9bf;
        color: #ffffff;
    }
}

.burguer-user-menu-options {
    overflow-y: hidden;
    background-color: #f1f7ed;
    border-radius: 10px;
    height: 0px;
    width: 100%;
}

.burguer-user-menu-li {
    display: flex;
    padding: 10px;
    &:hover {
        background-color: #e1ebeb;
    }
}

/*-------album cabañas------*/
.album-cottage {
    max-width: 800px;
    margin: 0 auto; /* Para centrar el contenedor */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 70px;
}

.album-cottage img {
    max-width: calc(
        33.33% - 10px
    ); /* Restamos 10px para dejar un espacio entre las imágenes */
    margin-bottom: 10px;
}
/*----------------------- config para el carrucel */

.carrousel {
    height: 80vh;
    max-width: 1800px;
}

.carrousel h2 {
    top: 70px;
    font-size: 40px;
}

.carrousel li img {
    width: 1800px;
    height: 100%;
}

.carrousel ul {
    width: 500%;
    animation: carrousel 20s infinite;
}

/*------------------------------config para cabañas en el home */

#cottage-selector {
    gap: 2%;
    justify-content: space-around;
    max-width: 500px;
}

.card-img {
    min-height: 250px;
}

.cottage-button {
    border-radius: 8px;
    color: #ffffff;
    font-size: 1.2rem;
    flex-grow: 0.8;
    padding: 10px 15px;
}

.list-card {
    min-width: 100%;
    width: 100%;
    padding: 5px 5px;
}

.cottage-description {
    height: 5rem;
    word-wrap: break-word;
}

.cont-card-img {
    height: 250px;
    border-radius: 8px;
}

.icon-bed {
    padding: 5px;
    font-size: 1.2rem;
}

.icons-beds {
    background-color: rgba(255, 255, 255, 0.8);
    bottom: 0;
}

.scroll-button {
    background: none;
    border: none;
    font-size: 3rem;
    cursor: pointer;
    width: 10%;
}

.share-button {
    background: rgba(255, 255, 255, 0.8);
    top: 5px;
    right: 5px;
    font-size: 2rem;
    padding: 0.5rem;
    border-radius: 8px;
}
.title-carrousel {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}

.cont-cottage,
.cont-activity {
    scrollbar-width: none; /* Desactiva el scrollbar en navegadores basados en WebKit */
    -ms-overflow-style: none; /* Desactiva el scrollbar en Internet Explorer y Edge */
}

.cont-cottage::-webkit-scrollbar,
.cont-activity::-webkit-scrollbar {
    display: none; /* Desactiva el scrollbar en navegadores basados en WebKit */
}

/*-------------- activities */

#activities,
#cottages {
    max-width: 1800px;
}

.act-img {
    width: 550px;
    height: 325px;
}

/*-------------- botónes para editar y borrar */

.admin-button {
    font-size: 25px;
    padding: 15px;
    border-radius: 10px;
    margin: 5px;
    transition: 0.3s;
    &:hover {
        box-shadow: 0px 0px 10px rgb(137, 137, 137);
    }
}

.edit-button {
    background-color: #66b9bf;
    color: #ffffff;
    &:active {
        background-color: #479398;
    }
}

.delete-button {
    background-color: #e00031;
    color: #ffffff;
    &:active {
        background-color: #bb0028;
    }
}

.img-delete{
    width: 40%;
    min-width: 250px;
    max-width: 600px;
    margin: 15px;
}

.boton-delete{
    background-color: #ff0000;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* animación para el carrusel del inicio. */

@keyframes carrousel {
    0% {
        margin-left: 0%;
    }

    15% {
        margin-left: 0%;
    }

    20% {
        margin-left: -100%;
    }

    35% {
        margin-left: -100%;
    }

    40% {
        margin-left: -200%;
    }

    55% {
        margin-left: -200%;
    }

    60% {
        margin-left: -300%;
    }

    75% {
        margin-left: -300%;
    }

    80% {
        margin-left: -400%;
    }

    100% {
        margin-left: -400%;
    }
}

/* maps de ¿donde estamos? */

.de-maps {
    max-width: 300px;
    height: 200px;
}

/*preguntas frecuestes*/
.arrow .arrow-but {
    transform: rotate(90deg);
}

.arrow-but {
    transition: transform 0.5s;
}

.but-preg {
    border-style: none;
}

.list-respu {
    height: 0;
    transition: height 0.5s;
}
.but-preg {
    border-style: none;
}

.arrow .arrow-but {
    transform: rotate(90deg);
}
.arrow-but {
    transition: transform 0.5s;
}

/* ----------------------registro */

#arrow {
    color: #f1f7ed;
    background-color: #07889b;
    padding: 12px;
    border-radius: 100%;
    font-size: 20px;
    transition: all 250ms;
}

#arrow:hover {
    background: #f1f7ed;
    color: #07889b;
    box-shadow: 0 0 14px #5f5f5f71;
}

.f-input {
    width: 100%;
    border: none;
    border-radius: 3px;
    padding: 8px;
    margin-top: 10px;
    font-size: 20px;
    color: #373737;
}

.f-submit {
    width: 40%;
    border: none;
    border-radius: 10px;
    margin: 2px;
    margin-bottom: 10px;
    height: 30px;
    font-size: 18px;
    color: white;
    font-size: 15px;
}

.f-submit:hover {
    color: rgba(255, 255, 255, 1) !important;
    box-shadow: 0 4px 16px rgb(172, 119, 49);
    transition: all 0.2s ease;
}

.form {
    margin: 0 auto;
    width: 80%;
    padding: 1.5rem;
    border-radius: 5px;
    margin-bottom: 30px;
}

.title-register {
    font-size: 20px;
    color: #373737;
    padding: 10px;
}

.form-fail {
    border: solid 3px #e00031;
}

.form-success {
    border: 3px solid rgb(9, 226, 9);
}

.error-front-success {
    margin: 0;
    color: #e00031;
    font-weight: bolder;
}

.error-front {
    display: none;
}
/*-------------------------Detalles del producto*/

.article-fecha {
    margin: 5px;
}

.article-precio {
    margin-right: 10px;
}

.article-x-noche {
    width: 40%;
    align-self: end;
}

.aside-prod-detail {
    background-color: #f1f7ed;
    border: 1px solid #373737;
    border-radius: 10px;
    display: none;
    height: 400px;
    margin-right: 1rem;
    margin-top: 17px;
    width: 30%;
}

.border-top {
    border-top: solid 0.2px #07889b;
    border-bottom: solid 0.2px #07889b;
    bottom: 0;
}

.border-xy {
    border-top: solid 2px #07889b;
    border-bottom: solid 2px #07889b;
    padding: 5px;
}

.but-reserva- {
    padding: 10px 35px;
    margin: 5px;
    background: linear-gradient(to bottom right, #07889b, #66b9bf);
    border-radius: 10px;
    box-shadow: 5px 5px 5px #6b6b6b;
    color: white;
}

.caract {
    color: #373737;
    padding-left: 10px;
    width: 50%;
}

.date-select {
    margin-top: 80px;
}

.desde-hasta {
    margin: 5px;
    width: 100%;
}

.img-map-lugar {
    border-radius: 10px;
    margin: 10px;
}

.icon-servicios {
    color: #66b9bf;
}

.img-productDetail-1 {
    border-radius: 10px;
}
.img-productDetail-2 {
    width: 30%;
    border-radius: 10px;
}

.div-text-center {
    text-align: -webkit-center;
}

.space-around {
    justify-content: space-around;
}

.w-34-especial {
    width: 34%;
}

.label-check {
    border-radius: 10px;
    height: 25px;
    margin-right: 5px;
    width: 30%;
}

.input-cupon {
    border-radius: 10px;
    border: solid 0.5px #66b9bf;
    padding: 8px;
}

.label-selector {
    align-self: center;
    margin-right: 4px;
}

.marg-end {
    margin-bottom: 90px;
}

.selector-cabañas {
    border-radius: 10px;
    border: solid 0.5px #66b9bf;
    padding: 8px;
}

.selector-huesped {
    padding: 8px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: solid 0.5px #66b9bf;
}

/* -------------------footer */

.border-ul {
    border-top: solid 1px #e37222;
}
.copy-footer {
    color: #373737;
    margin: 10px;
}

.div-img {
    text-align: center;
    width: 100%;
}

footer h1 {
    color: #e37222;
}

.logo-footer {
    margin: 20px 0px 20px 0px;
    max-width: 300px;
}

.padd-5 {
    padding: 5px;
}

.ul-footer {
    margin: 10px 30px 10px 30px;
    width: 100%;
}

/*-------------- product list */

#product-list-contain {
    max-width: 1800px;
}

/*-------------- forms */

#forms-create-products {
    max-width: 800px;
}

.form-section-title {
    border-bottom: #044a55 solid 2px;
    border-top: #044a55 solid 2px;
}

.add-hours {
    color: #044a55;
    font-weight: bold;
}

.select-hours-button,
.add-images-button {
    background-color: #f1f7ed;
    border: #07889b 2px solid;
}

.preview-img-containter {
    position: relative;
    background-color: #f1f7ed;
    border: #0e0e0e solid 1px;
    width: 35%;
    min-height: 70px;
    overflow: hidden;
}

.cottage-preview-img,
.activity-preview-img {
    position: absolute;
    max-width: 200%;
    max-height: 200%;
}

.label-hours {
    background-color: #f1f7ed;
    margin: 5px;
    padding: 2px 20px;
    border-radius: 3px;
}

.selected-service {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f1f7ed;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    font-size: 15px;
}

.delete-service-button {
    background-color: #e37222;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
}

.show-form-button {
    background-color: #66b9bf;
    margin: 10px;
    font-size: large;
    font-weight: bold;
    transition: 0.5s;
}
.show-form-button-active {
    background-color: #07889b;
    color: #ffffff;
    transition: 0.5s;
}

/*----------------------- profile */

.profile-user-avatar {
    width: 50%;
    max-width: 250px;
}

.option-profile {
    padding: 10px;
    border-top: #07889b 1px solid;
    border-bottom: #07889b 1px solid;
    transition: 0.5s;
}

.option-profile-selected {
    background-color: #66b9bf;
    color: #f1f7ed;
}

.column-profile-table {
    border: #044a55 1px solid;
    padding: 10px 0;
}

/*-------------- media queries */
@media (min-width: 488px) {
    .w-50 {
        width: 48%;
    }
    .article-precio {
        margin-right: 10px;
    }

    .flex-grow {
        flex-grow: 0.3;
    }

    .stats-cmts {
        flex-wrap: nowrap;
    }

    .list-show-button {
        width: auto;
    }
}
@media (min-width: 761px) {
    /*----------- laptops */
    .w-25 {
        width: 20%;
    }
    .user-menu {
        display: block;
    }

    .list-card {
        min-width: 50%;
        width: 50%;
    }

    .card-products-list {
        width: 50%;
    }

    .act-img {
        width: 800px;
        height: 400px;
    }

    .aside-selector-cabañas {
        border-radius: 10px;
        border: solid 0.5px #66b9bf;
        padding: 8px;
    }

    .burguer-menu {
        display: none;
    }

    .page-navbar {
        display: block;
    }

    .login-button,
    .sing-in-button {
        display: block;
    }
    .flexhiden {
        display: flex;
    }

    /*---------------footer */
    .ul-footer {
        width: 42%;
    }

    /*---------------------seccion informacion general*/
    .preguntas-frecuentes {
        align-self: flex-start;
        width: 43%;
    }
    #location {
        width: 46%;
    }
    /*quienes somos*/
    .ul-qs {
        display: flex;
    }

    .li-qs {
        display: inline;
    }

    /*---------------------forms*/
    .first-section-form,
    .second-section-form {
        width: 45%;
    }

    /*---------------------profile */
    .left-profile-section {
        width: 30%;
        padding: 10px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .right-profile-seciton {
        width: 70%;
        padding: 10px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

@media (min-width: 1024px) {
    /*laptop*/
    .aside-but {
        background: linear-gradient(to bottom right, #07889b, #66b9bf);
        border-radius: 10px;
        box-shadow: 5px 5px 5px #6b6b6b;
        color: white;
        margin: 5px;
        padding: 15px 25px;
        text-align: center;
    }
    .aside-dias {
        padding-top: 20px;
    }

    .aside-precio {
        margin-right: 10px;
    }

    .aside-prod-detail {
        display: block;
    }
    .aside-total {
        align-self: center;
        width: 50%;
    }

    .f-input {
        margin-top: 20px;
    }

    .ft-producto-elegido {
        width: 70%;
    }

    .form,
    .nav-form {
        width: 60%;
        max-width: 800px;
    }

    .img-productDetail-1 {
        height: 400px;
        width: 90%;
    }

    .selector-cabañas {
        width: 30%;
    }

    .title-register {
        font-size: 25px;
    }

    .img-map-lugar {
        width: 70%;
    }
    .border-top {
        display: none;
    }
}

@media (min-width: 1200px) {
    .cont-cottage,
    .cont-activity {
        width: 90%;
    }
    .scroll-button {
        display: none;
    }
    .list-card {
        min-width: 25%;
        width: 25%;
    }

    .card-products-list {
        width: 25%;
    }
}

@media (min-width: 1440px) {
    /*desktop*/

    /*register*/

    .f-submit {
        height: 40px;
    }
}
/*carrito*/

.item-details {
    flex-grow: 1;
}
.item-remove button {
    background-color: #fff;
    color: #333;
    border: 1px solid #333;
    padding: 0.5rem 1rem;
}
.cart-total button:hover {
    background-color: #66b9bf;
}
