/*----------------------------- config colors */
/* Paleta de colores: 
gris oscuro #373737
naranja #e37222
turquesa oscuro #07889b
turquesa claro #66b9f
grisclaro #f1f7ed */

.bg-1 {
    background-color: #373737;
}
.bg-2 {
    background-color: #e37222;
}
.bg-3 {
    background-color: #07889b;
}
.bg-4 {
    background-color: #66b9bf;
}
.bg-5 {
    background-color: #f1f7ed;
}
.bg-6 {
    background-color: #ffffff;
}

.fc-37 {
    color: #373737;
}
.fc-3 {
    color: #07889b;
}

.fc-2 {
    color: #e37222;
}
.fc-5 {
    color: #f1f7ed;
}
@media (min-width: 1200px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.75rem;
    margin-left: -0.75rem;
  }
  .col-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-md-4{
    position: relative;
    width: 100%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }

}