/*----------------------------- config colors */
/* Paleta de colores: 
gris oscuro #373737
naranja #e37222
turquesa oscuro #07889b
turquesa claro #66b9f
grisclaro #f1f7ed */

.bg-1 {
    background-color: #373737;
}
.bg-2 {
    background-color: #e37222;
}
.bg-3 {
    background-color: #07889b;
}
.bg-4 {
    background-color: #66b9bf;
}
.bg-5 {
    background-color: #f1f7ed;
}
.bg-6 {
    background-color: #ffffff;
}

.fc-37 {
    color: #373737;
}
.fc-3 {
    color: #07889b;
}

.fc-2 {
    color: #e37222;
}
.fc-5 {
    color: #f1f7ed;
}
