<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <title>Actividades</title>
</head>
<body>
   
    <header>
        <!-- nav fijo -->
        <%- include("./partials/nav") %>
        <!-- nav fijo -->
   </header>

   <section class="p-1 m-30 flex flex-wrap gap">
    <article class="w-80 m-30 txt-center">
        <h2 class="m-30 p-top-10">Actividades</h2>
        <p class="p-top-10 txt-center">
            En nuestro complejo podr치s ocupar tu tiempo de la manera que m치s te guste.
             Descanso y relajaci칩n, senderismo, fogatas, cabalgatas, bicicletas
              y un sin fin de actividades para que disfrutes como m치s te guste.
        </p>
    </article>
</section>

    
<main class="vw-90 ">
        <section class="p-8px flex flex-wrap">
           
                    <% activities.forEach(activity => { %>
                    <%- include('./partials/activity-cad', {activity: activity}) %>
                    <% }) %>
               
           
          
        </section>
    </main>

 


    <%- include("./partials/footer") %>
    
</body>
</html>