<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <title>Actividades</title>
</head>
<body>
    <%- include("./partials/nav") %>
    
    <section>
       
    </section>


    <%- include("./partials/footer") %>
    
</body>
</html>