<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <title>cart fin</title>
</head>
<body>
    <header>
        <!-- nav fijo -->
        <%- include("./partials/nav") %>
        <!-- nav fijo -->
   </header>
   <section class="cart-fin">
    <div class="cart-fin1">
        <i class="fa-sharp fa-solid fa-circle-check icon-cart-fin"></i>
        <h1>¡COMPRA REALIZADA CON ÉXITOS!</h1>
        <h2>¡GRACIAS!</h2>
        <p>Tu orden ha sido procesada.
            Revisa tu correo electronico
            donde podrás encontrar la 
            confirmación de tu orden y
            la información.
        </p>
    </div>
   </section>
    




    <%- include("./partials/footer") %>
</body>
</html>