<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <title>Crear</title>
    <link rel="stylesheet" href="/css/style-pd-footer.css">
</head>
<body>
  <main>
    <form action="" method="post"  class="flex flex-d-column al-items bg-5 border-rad m-20">
     <hr>
     <h2 class="txt-center p-1rem">Disponibilidad</h2>
     <hr>
     <div class="flex flex-wrap jc-center p-1rem">
      <select name="selector" class="flex flex-wrap w-80 p-10px m-10">
        <option value="disabled" selected >Cantidad de huéspes</option>
        <option value="cabaña-1">1</option>
        <option value="cabaña-2">2</option>
        <option value="cabaña-2">3</option>
        <option value="cabaña-2">4</option>
      </select>
      <select name="selector" class="flex flex-wrap w-80 p-10px m-10">
        <option value="disabled" selected>Dormitorios</option>
        <option value="cabaña-1">1</option>
        <option value="cabaña-2">2</option>
        <option value="cabaña-2">3</option>
        <option value="cabaña-2">4</option>
      </select>
      <select name="selector" class="flex flex-wrap w-80 p-10px m-10">
        <option value="disabled" selected>Camas</option>
        <option value="cabaña-1">1</option>
        <option value="cabaña-2">2</option>
        <option value="cabaña-2">3</option>
        <option value="cabaña-2">4</option>
      </select>
     <div class="flex jc-center w-80 m-10">
      <select name="selector" >
        <option value="disabled" selected> </option>
        <option value="cabaña-1">1</option>
        <option value="cabaña-2">2</option>
        <option value="cabaña-2">3</option>
        <option value="cabaña-2">4</option>
      </select>
      <select name="selector" >
        <option value="disabled" selected></option>
        <option value="cabaña-1">1</option>
        <option value="cabaña-2">2</option>
        <option value="cabaña-2">3</option>
        <option value="cabaña-2">4</option>
      </select>
      <select name="selector" >
        <option value="disabled" selected></option>
        <option value="cabaña-1">1</option>
        <option value="cabaña-2">2</option>
        <option value="cabaña-2">3</option>
        <option value="cabaña-2">4</option>
      </select>
      </div>
     </div>
      <hr>
      <h2 class="txt-center p-1rem">Servicios</h2>
      <hr>
     <div class="flex flex-wrap jc-center p-10px m-10">
        
         <label for="" class="fs-18 al-center">Servicio: </label>   
         <select name="selector" class="p-10px">
          <option value="disabled" selected>Servicio x</option>
          <option value="cabaña-1">Servicio x</option>
          <option value="cabaña-2">Servicio x</option>
          <option value="cabaña-2">Servicio x</option>
          <option value="cabaña-2">Servicio x</option>
        </select>
     </div>

       <label> Serivio x <i class="fa-solid fa-car icon-servicios"></i></label><input type="checkbox" id="checkbox">
       
       <label> Serivio x <i class="fa-solid fa-car icon-servicios"></i></label>
       <input type="checkbox" id="checkbox">
       <label> Serivio x <i class="fa-solid fa-car icon-servicios"></i></label>
       <input type="checkbox" id="checkbox">
       <label> Serivio x <i class="fa-solid fa-car icon-servicios"></i></label>
       <input type="checkbox" id="checkbox">
       <label> Serivio x <i class="fa-solid fa-car icon-servicios"></i></label>
       <input type="checkbox" id="checkbox">
       <label> Serivio x <i class="fa-solid fa-car icon-servicios"></i></label>
       <input type="checkbox" id="checkbox">
       <div class="w-100">
         <button>Seleccionar todo</button>
         <input type="reset" name="reset" id="checkbox">
       </div>
       <hr>
       <h2 class="txt-center p-1rem">Imágenes</h2>
       <hr>
     <div>
      <div class="flex flex-wrap ">
         <img src="/images/user-img.png" alt="" class="w-33">
         <img src="/images/user-img.png" alt="" class="w-33">
         <img src="/images/user-img.png" alt="" class="w-33">
         <img src="/images/user-img.png" alt="" class="w-33">
      </div>
         <input type="submit" name="submit" value="Imágen principal">
         <input type="submit" name="submit" value="Subir">
      
     </div>
       
     </div>
     <hr>
     <h2 class="txt-center p-1rem">Breve descripción</h2>
     <hr>
     <div class="flex  flex-d-column jc-center">
      <textarea name="descripción" placeholder="máximo 300 caracteres" cols="30" rows="10" maxlength="300" required></textarea><br>
     </div>
   </form>
  </main>
</body>
</html>

