<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>ERROR 404</title>
</head>
<body class="bg-6">
    <div class="error404">
        <h1>ERROR</h1>
        <p class="error-n">404</p>
    </div>
    <div class="error-404">
        <p>PAGE NOT FOUND</p>
    </div>
    <div class="back-home">
        <a href="/">GO BACK HOME</a>
    </div>
    <div class="img-error404"> 
        <img src="/images/logo-domum.png" alt="">
    </div>
</body>
</html>