<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("./partials/head") %>
  <title>Cabañas</title>
</head>

<body>
  <%- include("./partials/nav") %>

  <div class="container top-70">
    <h1 class="text-center my-5">Los Pinos</h1>
    <div class="row">
      <div class="col-md-4 mb-3">
        <div class="card">
          <img src="/images/cottageImages/pinos01.jpg" class="card-img-top" alt="...">
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card">
          <img src="/images/cottageImages/pinos02.jpg" class="card-img-top" alt="...">
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card">
          <img src="/images/cottageImages/pinos03.jpg" class="card-img-top" alt="...">
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card">
          <img src="/images/cottageImages/pinos04.jpg" class="card-img-top" alt="...">
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card">
          <img src="/images/cottageImages/pinos05.jpg" class="card-img-top" alt="...">
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card">
          <img src="/images/cottageImages/pinos06.jpg" class="card-img-top" alt="...">
        </div>
      </div>
      <iframe title="vimeo-player" src="https://player.vimeo.com/video/657637618?h=eb42b3d9ef" width="640" height="360" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-JmvIV+aIk8FFYLYeBvHaDpOyPs61sLgDZE9U+rm+OqzT2M+V8voaXlvWA8aNMHp+" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-3B9Cv6nGrtzi4EHJ4gN+D4/Jv1x0rpGy5NXr8VTV76E5R5DIs1FZtdb5qpfMwQwl" crossorigin="anonymous"></script>

  <%- include("./partials/footer") %>

</body>


</html>