<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("./partials/head") %>
  <title>Cabañas</title>
</head>

<body>
  <%- include("./partials/nav") %>


  <%- include("./partials/footer") %>

</body>


</html>