<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("./partials/head") %>
  <title>Iniciar sesión</title>
</head>

<body>
  <header class="main-header">
    <div class="fixed-navbar flex w-100 bg-5">

      <a href="/"> <img src="/images/logo-domum.png" alt="Logo de Domum" class="logo-domum"/> </a>

      <nav class="page-navbar hide">
        <ul class="flex fs-15">
          <li><a href="/">Inicio</a></li>
          <li><a href="#">Nosotros</a></li>
          <li><a href="#">Cabañas</a></li>
          <li><a href="#">Actividades</a></li>
          <li><a href="#">Contacto</a></li>
        </ul>
      </nav>

    </div>

  </header>
  <div class="flex jc-center ">
    <h1 class="title-register txt-center">Iniciar sesión</h1>
    <button class="but-back bg-3"><a href="/"><i class="fa-solid fa-arrow-left " id="arrow"></i></a></button>
  </div>


  <div>
    <form action="" method="get" class="form bg-4 box-shadow">

      <input type="text" name="name" id="name" placeholder="Nombre de Usuario" class=" f-input">
      <input type="password" name="password" id="password" placeholder="Contraseña" class="f-input">
      
      
      <div class="flex flex-wrap jc-center ">
        <input type="submit" name="register" id="register" class="f-submit bg-2" value="Ingresar">
        
      </div>
      <p class="txt-center p-top-10 mb"><a href="/user/login"> ¿Olvidaste tu contraseña? </a></p>
      <button type="submit" class="f-input">
        <i class="fa-brands fa-google"></i>
        Ingresar con Google</button>
      <button type="submit" class="f-input">
        <i class="fa-brands fa-facebook-f"></i>
        Ingresar con Facebook</button>
      <button type="submit" class="f-input">
        <i class="fa-brands fa-twitter"></i>
        Ingresar con Twitter</button>
      
      <hr>
    </form>
  </div>

  <%- include("./partials/footer") %>

</body>

</html>