<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("./partials/head") %>
  <title>Registro</title>
</head>

<body >
  <%- include("./partials/nav-login-register")  %>
  <div class="flex jc-center f-f">
    <h1 class="title-register txt-center">Registrate </h1>
    <button class="but-back bg-3"><a href="/"><i class="fa-solid fa-arrow-left" id="arrow"></i></a></button></div>
  

  <div class="f-f">
    <form action="/user/register" method="post" class="form bg-4 box-shadow">
      <div>
        <input type="text" name="name" id="name" placeholder="Nombre"  class=" f-input f-f" >
        <input type="text" name="surname" id="surname" placeholder="Apellido"  class="f-input f-f">
        <input type="email" name="email" id="email" placeholder="Email" class="f-input f-f">
        <input type="password" name="password" id="password" placeholder="Contraseña"  class="f-input f-f">
        <input type="confirmPassword" id="confirmPassword" placeholder="Confirmar contraseña" class="f-input f-f">
        <div class="flex flex-wrap jc-center ">
          <input type="submit" id="register" class="f-submit bg-2 f-f" value="Registrarse" >
          <input type="reset" id="reset" class="f-submit bg-2 f-f">
      </div>
</div>
        <div class="p-1rem">
          <button type="submit" class="f-input f-f">
            <i class="fa-brands fa-google"></i>
            Registrate con google</button>
          <button type="submit" class="f-input f-f">
            <i class="fa-brands fa-facebook-f"></i>
           Registrate con facebook</button>
         <button type="submit" class="f-input f-f">
            <i class="fa-brands fa-twitter"></i>
           Registrate con twitter</button>
          <p class="txt-center p-top-10 f-f">¿Ya tenés una cuenta?<a href="/user/login" class="f-f">  Iniciar sesion</a></p>
        </div>
        <hr>
    </form>
  </div>

    <%- include("./partials/footer") %>
   
</body>
</html>