<li class="border-solid m-1rem p-1rem flexhiden bg-6 border-rad">
    <div class="m-10">
        <img src="https://via.placeholder.com/150x150" >
    </div>
    <div class="item-details m-10 fc-37">
        <% oneCart.cottage_id%> 
        <h3><% oneCart%></h3>
        <p>Precio por noche: $100.00</p>
        <p>Check In: </p> <p>Check Out:</p>
        <p>Cantidad huéspedes: 1</p>
        <p>Noches: 1</p>
        <p class="m-10">TOTAL</p>
    </div>
    <div class="item-remove ">
        <button class="border-rad5">Quitar</button>
    </div>
</li>