<form
    action="/activities/create"
    method="post"
    class="flex flex-d-column w-90 m-auto p-10px bg-4 border-rad"
>
    <label for="name"></label>
    <input
        type="text"
        name="name"
        id="name"
        class="f-input"
        placeholder="Nombre"
    />

    <label for="price"></label>
    <input
        type="number"
        name="price"
        id="price"
        class="f-input"
        placeholder="Precio"
    />

    <label for="max-place"></label>
    <input
        type="number"
        name="max_place"
        id="max-place"
        class="f-input"
        placeholder="Cantidad máxima de personas"
    />

    <div id="activity-hours" class="">
        <h2 class="m-auto txt-center">Horarios</h2>
        <h4 class="m-auto">Día de semana:</h4>
        <div id="first_hours" class="flex flex-wrap">
            <p>
                Desde:
                <label for="weekday-in" class="label-hours">_ _ _ _</label>
                , Hasta:
                <label for="weekday-out" class="label-hours">_ _ _ _</label>
            </p>
            <input
                type="time"
                name="weekday-in"
                id="weekday-in"
                class="bg-6 border-none input-hours hide"
            />
            <input
                type="time"
                name="weekday-out"
                id="weekday-out"
                class="bg-6 border-none input-hours hide"
            />
        </div>
        <a class="">agregar segundo horario</a>
    </div>

    <label for="images"></label>
    <input type="file" name="images" id="images" multiple />

    <div id="prev-images"></div>

    <label for="description"></label>
    <textarea
        name="description"
        id="description"
        placeholder="descripción"
        class="m-10 p-10px"
    ></textarea>
    <button type="submit">Crear</button>
</form>
