<form
    action="/activities/create"
    method="post"
    class="flex flex-d-column w-90 m-auto p-10px bg-4 border-rad"
>
    <label for="name"></label>
    <input
        type="text"
        name="name"
        id="name"
        class="f-input"
        placeholder="Nombre"
    />

    <label for="price"></label>
    <input
        type="number"
        name="price"
        id="price"
        class="f-input"
        placeholder="Precio"
    />

    <label for="max-place"></label>
    <input
        type="number"
        name="max-place"
        id="max-place"
        class="f-input"
        placeholder="Cantidad máxima de personas"
    />

    <div id="activity-hours" class="">
        <h2 class="m-auto txt-center">Horarios</h2>

        <!-- Días de semana -->
        <div id="weekday-hours">
            <h3 class="m-auto">Día de semana:</h3>

            <div id="first-weekday-hours">
                <div class="flex flex-wrap">
                    <p class="fs-18 w-100">
                        Desde:
                        <label for="weekday-in" class="label-hours pointer">
                            _ _ _ _
                        </label>
                        , Hasta:
                        <label for="weekday-out" class="label-hours pointer">
                            _ _ _ _
                        </label>
                    </p>
                    <p
                        id="add-second-weekday-hours"
                        class="add-hours fs-15 p-2px m-5 pointer hide"
                    >
                        <i class="fa-solid fa-plus"></i>
                        Agregar horario
                    </p>
                </div>
                <div class="first-hours-inputs flex jc-center">
                    <input
                        type="time"
                        name="weekday-in"
                        id="weekday-in"
                        class="first-hours-input border-none input-hours p-5px border-rad hide"
                    />
                    <input
                        type="time"
                        name="weekday-out"
                        id="weekday-out"
                        class="first-hours-input border-none input-hours p-5px border-rad hide"
                    />
                </div>
            </div>

            <div id="second-weekday-hours" class="hide">
                <div class="flex flex-wrap">
                    <p class="fs-18 w-100">
                        y Desde:
                        <label
                            for="second-weekday-in"
                            class="label-hours pointer"
                        >
                            _ _ _ _
                        </label>
                        , Hasta:
                        <label
                            for="second-weekday-out"
                            class="label-hours pointer"
                        >
                            _ _ _ _
                        </label>
                    </p>
                </div>
                <div class="second-hours-inputs flex jc-center">
                    <input
                        type="time"
                        name="second-weekday-in"
                        id="second-weekday-in"
                        class="border-none input-hours p-5px border-rad hide"
                    />
                    <input
                        type="time"
                        name="second-weekday-out"
                        id="second-weekday-out"
                        class="border-none input-hours p-5px border-rad hide"
                    />
                </div>
            </div>
        </div>

        <!-- Días de fin semana -->
    </div>

    <label for="images"></label>
    <input type="file" name="images" id="images" multiple />

    <div id="prev-images"></div>

    <label for="description"></label>
    <textarea
        name="description"
        id="description"
        placeholder="descripción"
        class="m-10 p-10px"
    ></textarea>
    <button type="submit">Crear</button>
</form>
