<header class="main-header">
    <div class="fixed-navbar flex w-100 bg-5">

      <a href="/"> <img src="/images/logo-domum.png" alt="Logo de Domum" class="logo-domum"/> </a>
     
      <nav class="page-navbar hide">
        <ul class="flex fs-15">
          <li><a href="/">Inicio</a></li>
          <li><a href="#">Nosotros</a></li>
          <li><a href="#">Cabañas</a></li>
          <li><a href="#">Actividades</a></li>
          <li><a href="#">Contacto</a></li>
        </ul>
      </nav>
      
    </div>

  </header>