<header>
  <div class="w-80 m-auto flex jc-bet al-items nav-form">
    <a href="/">
      <img src="/images/logo-domum.png" alt="Logo de Domum" class="logo-domum"/>
    </a>
    <a href="/"><i class="fa-solid fa-arrow-left" id="arrow"></i></a>
  </div>
  <h1 class="title-register txt-center"><%= title %></h1>
  <div>
</header>