<div class="fixed-navbar flex pos-fixed w-100 bg-5">
  <a href="/">
    <img src="/images/logo-domum.png" alt="Logo de Domum" class="logo-domum" />
  </a>
  <nav class="page-navbar hide grow-1">
    <ul class="flex fs-15">
      <li><a href="/">Inicio</a></li>
      <li><a href="#info-general">Nosotros</a></li>
      <li><a href="/products/list?show=cottages">Cabañas</a></li>
      <li><a href="/products/list?show=activities">Actividades</a></li>
      <li><a href="#footer">Contacto</a></li>
    </ul>
  </nav>
  <div class="header-buttons flex al-items">
    <a href="/products/cart" class="r">
      <i class="fa-solid fa-cart-shopping cart-icon"></i>
    </a>

    <!-- Revisa si existe la variable local "userLog" que crea el middleware "userLogMiddleware" -->
    <% if (!!userLog) { %>
    <section class="user-menu hide">
      <figure class="flex al-items pos-relative pointer">
        <img src="<%= userLog.avatar %>" alt="foto de perfil" class="user-avatar pos-relative" />
        <!-- Por ahora dice Carlos Santana, luego dirá el nombre del ususario. -->
        <p class="fs-15 user-name border-rad"><%= userLog.first_name %> <%= userLog.last_name %>
          <i class="fa-solid fa-angle-down"></i>
        </p>
      </figure>
      <ul class="user-menu-options fs-15">
        <li class="user-menu-li"><a class="w-100" href="/user/profile">Perfil</a></li>
        <li class="user-menu-li"><a class="w-100" href="/user/logout">Cerrar sesión</a></li>
        <% if (userLog.rol.name == "admin") { %>
        <h5 class="txt-center">Admin</h5>
        <li class="user-menu-li"><a class="w-100" href="/products/create">Crear producto</a></li>
        <li class="user-menu-li"><a class="w-100" href="/products/list">Lista de producto</a></li>
        <% } %>
      </ul>
    </section>
    <% } else { %>
    <a href="/user/login">
      <button class="login-button fs-18 bg-3 hide fc-5">Ingresar</button>
    </a>
    <a href="/user/register">
      <button class="sing-in-button hide fs-18 bg-3 fc-5">
        Crear cuenta
      </button>
    </a>
    <% } %>

    <%- include('./burguer-nav') %>

  </div>
</div>