<form action="/products/cottages/create" method="post" enctype="multipart/form-data" id="cottage-form" class="flex flex-wrap jc-evenly p-10px bg-4 border-rad box-shadow">
  <h2 class="txt-center w-100">Crear cabaña</h2>
  <div class="first-section-form flex flex-d-column w-100">


    <h2 class="form-section-title m-10 p-5px txt-center">General</h2>

    <label for="cottage_name"></label>
    <input type="text" name="name" id="cottage_name" class="f-input" placeholder="Nombre" />

    <label for="cottage_price"></label>
    <input type="number" name="price" id="cottage_price" class="f-input" placeholder="Precio por noche" />

    <label for="cottage_guest"></label>
    <input type="number" name="guest" id="cottage_guest" class="f-input" placeholder="Cantidad máxima de huespedes" />

    <label for="cottage_bedrooms"></label>
    <input type="number" name="bedrooms" id="cottage_bedrooms" class="f-input" placeholder="Habitaciones" />

    <label for="cottage_beds"></label>
    <input type="number" name="beds" id="cottage_beds" class="f-input" placeholder="Camas" />

    <label for="cottage_bathrooms"></label>
    <input type="number" name="bathrooms" id="cottage_bathrooms" class="f-input" placeholder="Baños" />

  </div>

  <div class="second-section-form flex flex-d-column w-100">

    <%- include('./services-section') %>


    <!-- input para imágenes y previsualización de imágenes -->
    <%- include("../img-section", {type: "cottage"}) %>
    <h2 class="form-section-title m-10 p-5px txt-center">Descripción</h2>

    <label for="cottage_description"></label>
    <textarea name="description" id="description" placeholder="cottage_descripción" class="m-10 p-10px border-none border-rad"></textarea>
  </div>

  <div class="w-100 txt-center">
    <button type="submit" form="cottage-form" class="f-submit bg-2">Crear actividad</button>
  </div>
</form>