<h2 class="form-section-title m-10 p-5px txt-center">Servicios</h2>
<div class="flex flex-wrap flex-d-column m-auto">

  <label>
    Servicios:
    <select id="services-select" class="m-5 p-5px border-none border-rad">
      <option value="servicios" selected disabled> Servicios</option>
      <option value="Wi-fi">Wi-fi</option>
      <option value="Calefacción">Calefacción</option>
      <option value="Pileta">Pileta</option>
      <option value="Cocina">Cocina</option>
      <option value="Aire acondicionado">Aire acondicionado</option>
      <option value="Jacuzzi">Jacuzzi</option>
      <option value="Terraza">Terraza</option>
    </select>
  </label>

  <select name="services" id="services-selected" multiple class="hide">
    <!-- Acá se irán sumando los servicios que eligamos de arriba -->
  </select>

  <!-- Sección para mostrar los servicios seleccionados -->
  <ul id="show-services">
  </ul>
</div>