<h2 class="form-section-title m-10 p-5px txt-center">Servicios</h2>
<div class="flex flex-wrap flex-d-column m-auto w-100">

  <label class="txt-center">
    Servicios:
    <select id="services-select" class="m-5 p-5px border-none border-rad">
      <option value="servicios" selected disabled> Servicios</option>
      <option value="Wi-fi">Wi-fi</option>
      <option value="Calefacción">Calefacción</option>
      <option value="Pileta">Pileta</option>
      <option value="Cocina">Cocina</option>
      <option value="Aire acondicionado">Aire acondicionado</option>
      <option value="Jacuzzi">Jacuzzi</option>
      <option value="Terraza">Terraza</option>
    </select>
  </label>

  <select name="services" id="services-selected" multiple class="hide">
    <!-- Acá se irán sumando los servicios que elijamos de arriba -->
    <% if (isCottage && typeof locals.oldData?.services == "string") { %>
    <option value="<%= oldData.services %>" selected></option>
    <% } %>

    <% if (isCottage && typeof locals.oldData?.services == "object") { %>
    <% oldData.services.forEach(service =>{ %>
    <option value="<%= service %>" selected></option>
    <%}) %>
    <% } %>

  </select>

  <!-- Sección para mostrar los servicios seleccionados -->
  <ul id="show-services" class="flex flex-wrap jc-bet">
  </ul>
  <% if ( isCottage && locals.errors?.services){ %>
  <p class="txt-error txt-center"><%= errors.services.msg %></p>
  <% } %>
  <p class="errorFrontSelection error-front">Debe agregar mínimo un servicio</p>
</div>