<form action="/activities/create" method="post" class="flex flex-d-column w-90 m-auto p-10px bg-4 border-rad">
  <label for="name"></label>
  <input type="text" name="name" id="name" class="f-input" placeholder="Nombre" />

  <label for="price"></label>
  <input type="number" name="price" id="price" class="f-input" placeholder="Precio" />

  <label for="max-place"></label>
  <input type="number" name="max-place" id="max-place" class="f-input" placeholder="Cantidad máxima de personas" />

  <div id="activity-hours">
    <h2 class="m-auto txt-center">Horarios</h2>

    <!-- Días de semana -->
    <%- include("./hours-section", {day: "weekday", title: "Día de semana:"}) %>
    <!-- Días de fin semana -->
    <%- include("./hours-section", {day: "weekend", title: "Fin de semana"}) %>

    <!-- botones para mostrar cada horario -->
    <%- include("./add-hours-buttons") %>
  </div>

  <!-- input para imágenes y previsualización de imágenes -->
  <%- include("./img-section") %>


  <div id="prev-images"></div>

  <label for="description"></label>
  <textarea name="description" id="description" placeholder="descripción" class="m-10 p-10px"></textarea>
  <button type="submit">Crear</button>
</form>