<label for="images"></label>
<input type="file" name="images" id="images-input" multiple />

<div class="flex jc-evenly">
  <div class="preview-img-containter flex al-items jc-center">
    <img src="" class="preview-img">
  </div>
  <div class="preview-img-containter flex al-items jc-center">
    <img src="" class="preview-img">
  </div>
  <div class="preview-img-containter flex al-items jc-center">
    <img src="" class="preview-img">
  </div>
</div>